@font-face {
  font-family: "railwayregular";
  src: url("fonts/railway/Railway-webfont.eot");
  src: url("fonts/railway/Railway-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/railway/Railway-webfont.woff") format("woff"),
    url("fonts/railway/Railway-webfont.ttf") format("truetype"),
    url("fonts/railway/Railway-webfont.svg#railwayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "railwayregular", "Arial Narrow Bold", sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
  padding-top: 40px;
  padding-bottom: 40px;
}

nav a {
  text-decoration: none;
  padding-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
}

.current {
  border-top: 2px solid #0065fc;
}

form {
  display: flex;
}

.fa-map-marker {
  background-color: #f2f2f2;
  border-radius: 12px 0 0 12px;
  padding: 10px 15px 10px 15px;
}

input[type="search"] {
  border: 1px #f2f2f2 solid;
  padding-left: 15px;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 0 12px 12px 0;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}

.search_filter {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.search_filter p {
  border-top: 2px #d9d9d9 solid;
  border-bottom: 2px #d9d9d9 solid;
  border-right: 2px #d9d9d9 solid;
  margin-left: 20px;
  border-radius: 20px;
}

.search_filter .fa {
  padding: 12px;
  background-color: #deebff;
  border-radius: 100px;
  color: #0065fc;
}

.search_howmany .fa {
  padding: 4px 7px 4px 7px;
  border-radius: 25px;
  color: #0065fc;
  border: 1px #d9d9d9 solid;
  margin-right: 15px;
}

.search_howmany p {
  font-size: 0.8em;
}
