@font-face {
  font-family: "railwayregular";
  src: url("fonts/railway/Railway-webfont.eot");
  src: url("fonts/railway/Railway-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/railway/Railway-webfont.woff") format("woff"),
    url("fonts/railway/Railway-webfont.ttf") format("truetype"),
    url("fonts/railway/Railway-webfont.svg#railwayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "railwayregular", "Arial Narrow Bold", sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
  padding-top: 40px;
  padding-bottom: 40px;
}

nav a {
  text-decoration: none;
  padding-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
}

.current {
  border-top: 2px solid #0065fc;
}

form {
  display: flex;
}

.fa-map-marker {
  background-color: #f2f2f2;
  border-radius: 12px 0 0 12px;
  padding: 10px 15px 10px 15px;
}

input[type="search"] {
  border: 1px #f2f2f2 solid;
  padding-left: 15px;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 0 12px 12px 0;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}

.search_filter {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.search_filter p {
  border-top: 2px #d9d9d9 solid;
  border-bottom: 2px #d9d9d9 solid;
  border-right: 2px #d9d9d9 solid;
  margin-left: 20px;
  border-radius: 20px;
}

.search_filter .fa {
  padding: 12px;
  background-color: #deebff;
  border-radius: 100px;
  color: #0065fc;
}

.search_howmany .fa {
  padding: 4px 7px 4px 7px;
  border-radius: 25px;
  color: #0065fc;
  border: 1px #d9d9d9 solid;
  margin-right: 15px;
}

.search_howmany p {
  font-size: 0.8em;
}

.results {
  display: flex;
  flex-direction: row;
}

.results h2,
h3 {
  margin: 8px 0px 0px 12px;
}

.results p,
.stars {
  margin: 2px 0px 2px 12px;
}

.stars {
  color: #0065fc;
}

.grey {
  color: #deebff;
}

#results_filtered {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 40px;
  width: 70%;
  margin-right: 35px;
  border-radius: 25px;
}

.accommodation_wrap {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

.accommodation_wrap a {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
  text-decoration: none;
  margin: 15px;
  padding: 5px;
  border-radius: 25px;
}

.results_filtered_1 {
  background: url(images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg)
    no-repeat;
  background-size: 100% 100%;
  height: 9em;
  border-radius: 25px 25px 0 0;
}

.results_filtered_2 {
  background: url(images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg)
    no-repeat;
  background-size: 100% 100%;
  height: 9em;
  border-radius: 25px 25px 0 0;
}

.results_filtered_3 {
  background: url(images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg)
    no-repeat;
  background-size: 100% 100%;
  height: 9em;
  border-radius: 25px 25px 0 0;
}

.results_filtered_4 {
  background: url(images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg)
    no-repeat;
  background-size: 100% 100%;
  height: 9em;
  border-radius: 25px 25px 0 0;
}

.results_filtered_5 {
  background: url(images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg)
    no-repeat;
  background-size: 100% 100%;
  height: 9em;
  border-radius: 25px 25px 0 0;
}

.results_filtered_6 {
  background: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg)
    no-repeat;
  background-size: 100% 100%;
  height: 9em;
  border-radius: 25px 25px 0 0;
}

aside {
  display: grid;
  grid-template: 1fr 12fr / 1fr;
  background-color: #f2f2f2;
  padding: 30px;
  width: 30%;
  border-radius: 25px;
}

.results_mostfamous_1 {
  background: url(images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg)
    no-repeat;
  background-size: 100% 100%;
  width: 9em;
  border-radius: 25px 0 0 25px;
}

.results_mostfamous_2 {
  background: url(images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg)
    no-repeat;
  background-size: 100% 100%;
  width: 9em;
  border-radius: 25px 0 0 25px;
}

.results_mostfamous_3 {
  background: url(images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg)
    no-repeat;
  background-size: 100% 100%;
  width: 9em;
  border-radius: 25px 0 0 25px;
}

.accommodation_column {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
}

.accommodation_column a {
  display: flex;
  color: black;
  background-color: white;
  text-decoration: none;
  margin: 15px;
  border-radius: 25px;
  padding: 5px;
}

.activity {
  display: flex;
  flex-direction: row;
}

footer {
  display: flex;
  background-color: #f2f2f2;
}
footer ul {
  margin-right: 10%;
}

footer li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
}
